html, body{
    margin: 0;
    background-color: lightgray     ;
    color: black;
    text-align: center;
}

h1 {
    text-align:center;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    margin: 0 0 50px 0;

    border-bottom: 1px solid black;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 5px 20px black;
    background-color: black;

    height: 70px;

    position: -webkit-sticky;
	position: sticky;
	top: 0;

	font-weight: bold;

}


.navbar a:link {
    text-decoration: none;
    color: white;
}

.navbar a:visited {
    color: white;
}

.navbar a:hover {
    color: #5e9af3;
}

.navbar .brand {
    margin-left: 20px;
}

.blank {
    width:80%;
}

.navbar li {
    margin: 10px 20px 10px 0px;
}

.MainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}

.MainContent form {
    margin: auto;
    display: inline-block;
}

.activate {
    background-color: lightblue;
    padding: 20px 20px;
    width: 200px;
    border: 1px solid black;
    border-radius: 5px;

    cursor: pointer;
    font-weight: bold;
    text-align: center;
}