html, body{
    margin: 0;
    background-color: #b2cff2;
    color: black;
}

h1 {
    text-align:center;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    margin: 0 0 50px 0;

    border-bottom: 1px solid black;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 5px 20px black;
    background-color: #646464;

    height: 70px;

    position: -webkit-sticky;
	position: sticky;
	top: 0;

	font-weight: bold;

}


.navbar a:link {
    text-decoration: none;
    color: white;
}

.navbar a:visited {
    color: white;
}

.navbar a:hover {
    color: #5e9af3;
}

.navbar .brand {
    margin-left: 20px;
}

.blank {
    width:80%;
}

.navbar li {
    margin: 10px 20px 10px 0px;
}