<!DOCTYPE html>
<html dir="ltr" lang="en">
 <head>
  <meta charset="utf-8"/>
  <link href="../staticFiles/style.css" rel="stylesheet"/>
  <title>
   Scrap Yard
  </title>
 </head>
 <body>

 <nav class="navbar">
  <li class="brand"><a href="../">ScrapYard</a></li>
  <div class="blank"></div>
  <li><a href=".">About</a></li>
  <li><a href="https://github.com/Kevin-Wei-KW/ECommerceWebScraper">GitHub</a></li>
 </nav>

 <h1>About Scrap Yard</h1>

 <h3>Technologies Used:</h3>
 <ul>
  <li>Python</li> <img src="{{url_for('static', filename='../images/python-logo.png')}}" alt="Python Logo"/>
  <li>Flask</li>
  <li>Selenium</li>
  <li>Beautiful Soup</li>
 </ul>

</body>
</html>