<!DOCTYPE html>
<html dir="ltr" lang="en">
 <head>
  <meta charset="utf-8"/>
  <link href="../staticFiles/style.css" rel="stylesheet"/>
  <title>
   Scrap Yard
  </title>
 </head>
 <body>
  <nav class="navbar">
   <li class="brand">
    <a href="/">
     ScrapYard
    </a>
   </li>
   <div class="blank">
   </div>
   <li>
    <a href="/about/">
     About
    </a>
   </li>
   <li>
    <a href="https://github.com/Kevin-Wei-KW/ECommerceWebScraper">
     GitHub
    </a>
   </li>
  </nav>
 </body>
</html>