<!DOCTYPE html>
<html dir="ltr" lang="en">
 <head>
  <meta charset="utf-8"/>
  <link href="../staticFiles/style.css" rel="stylesheet"/>
  <title>
   Scrap Yard
  </title>
 </head>
 <body>
  <nav class="navbar">
   <li class="brand">
    <a href="./">
     ScrapYard
    </a>
   </li>
   <div class="blank">
   </div>
   <li>
    <a href="/about/">
     About
    </a>
   </li>
   <li>
    <a href="https://github.com/Kevin-Wei-KW/ECommerceWebScraper">
     GitHub
    </a>
   </li>
  </nav>
  <h1>
   Welcome to Scrap Yard
  </h1>
  <!-- <button type="button" class="activate"><a href="/scrape/">Activate</a> <br> <br></button>-->
  <div class="Buttons">
   <form action="/scrape/" method="post">
    <input class="activate" type="submit" value="Activate"/>
   </form>
   <form action="/clear/" method="post">
    <input class="clear" type="submit" value="Clear"/>
   </form>
  </div>
  <div class="MainContent"> 
<a href="/item/Lenovo Flex 3-11 82BB000TCF 2-in-1 Chromebook, N4020"> 
<h3>Lenovo Flex 3-11 82BB000TCF 2-in-1 Chromebook, N4020 &#128279;</h3> 
</a> 

<a href="/item/Intel NUC M15 BRC710ECUXBD1 Intel Evo Laptop, i7-1260P"> 
<h3>Intel NUC M15 BRC710ECUXBD1 Intel Evo Laptop, i7-1260P &#128279;</h3> 
</a> 

</div>
 </body>
</html>