<!DOCTYPE html>
<html dir="ltr" lang="en">
 <head>
  <meta charset="utf-8"/>
  <link href="../staticFiles/style.css" rel="stylesheet"/>
  <title>
   Scrap Yard
  </title>
 </head>
 <body>
  <nav class="navbar">
   <li class="brand">
    <a href="./">
     ScrapYard
    </a>
   </li>
   <div class="blank">
   </div>
   <li>
    <a href="/about/">
     About
    </a>
   </li>
   <li>
    <a href="https://github.com/Kevin-Wei-KW/ECommerceWebScraper">
     GitHub
    </a>
   </li>
  </nav>
  <h1>
   Welcome to Scrap Yard
  </h1>
  <!-- <button type="button" class="activate"><a href="/scrape/">Activate</a> <br> <br></button>-->
  <form action="/scrape/" method="post">
   <input class="activate" type="submit" value="Activate"/>
  </form>
  <div class="MainContent"> 
<a href="/item/Lenovo Flex 3-11 82BB000TCF 2-in-1 Chromebook, N4020"> 
<h3>Lenovo Flex 3-11 82BB000TCF 2-in-1 Chromebook, N4020</h3> 
</a> 
<span automation-id="productDescriptionLabel_0" class="description">
<a automation-id="productDescriptionLink_0" href="https://www.costco.ca/lenovo-flex-3-11-82bb000tcf-2-in-1-chromebook%2c-n4020.product.100804431.html">
				Lenovo Flex 3-11 82BB000TCF 2-in-1 Chromebook, N4020
			</a>
</span>
<a href="/item/Intel NUC M15 BRC710ECUXBD1 Intel Evo Laptop, i7-1260P"> 
<h3>Intel NUC M15 BRC710ECUXBD1 Intel Evo Laptop, i7-1260P</h3> 
</a> 
<span automation-id="productDescriptionLabel_1" class="description">
<a automation-id="productDescriptionLink_1" href="https://www.costco.ca/intel-nuc-m15-brc710ecuxbd1-intel-evo-laptop%2c-i7-1260p.product.4000101222.html">
				Intel NUC M15 BRC710ECUXBD1 Intel Evo Laptop, i7-1260P
			</a>
</span>
</div>
  <div class="MainContent">
   <a href="/item/Lenovo Flex 3-11 82BB000TCF 2-in-1 Chromebook, N4020">
    <h3>
     Lenovo Flex 3-11 82BB000TCF 2-in-1 Chromebook, N4020
    </h3>
   </a>
   <span automation-id="productDescriptionLabel_0" class="description">
    <a automation-id="productDescriptionLink_0" href="https://www.costco.ca/lenovo-flex-3-11-82bb000tcf-2-in-1-chromebook%2c-n4020.product.100804431.html">
     Lenovo Flex 3-11 82BB000TCF 2-in-1 Chromebook, N4020
    </a>
   </span>
   <a href="/item/Intel NUC M15 BRC710ECUXBD1 Intel Evo Laptop, i7-1260P">
    <h3>
     Intel NUC M15 BRC710ECUXBD1 Intel Evo Laptop, i7-1260P
    </h3>
   </a>
   <span automation-id="productDescriptionLabel_1" class="description">
    <a automation-id="productDescriptionLink_1" href="https://www.costco.ca/intel-nuc-m15-brc710ecuxbd1-intel-evo-laptop%2c-i7-1260p.product.4000101222.html">
     Intel NUC M15 BRC710ECUXBD1 Intel Evo Laptop, i7-1260P
    </a>
   </span>
  </div>
 </body>
</html>