<!DOCTYPE html>
<html dir="ltr" lang="en">
 <head>
  <meta charset="utf-8"/>
  <link href="../staticFiles/style.css" rel="stylesheet"/>
  <title>
   Scrap Yard
  </title>
 </head>
 <body>
  <nav class="navbar">
   <li class="brand">
    <a href="./">
     ScrapYard
    </a>
   </li>
   <div class="blank">
   </div>
   <li>
    <a href="/about/">
     About
    </a>
   </li>
   <li>
    <a href="https://github.com/Kevin-Wei-KW/ECommerceWebScraper">
     GitHub
    </a>
   </li>
  </nav>
  <div class="ItemContent"> 
<img src="https://images.costco-static.com/ImageDelivery/imageService?profileId=12026539&amp;amp;itemId=6441052-894&amp;amp;recipeName=680"/> 
<div class="desc"> 
<h2>Intel NUC M15 BRC710ECUXBD1 Intel Evo Laptop, i7-1260P</h2> 
<p>Brand: Intel</p> 
<a href=https://www.costco.ca/intel-nuc-m15-brc710ecuxbd1-intel-evo-laptop%2c-i7-1260p.product.4000101222.html>Go To Website</a> 
<h3>Price: <br/> 889.99</h3> 

</div>
 </body>
</html>