<!DOCTYPE html>
<html dir="ltr" lang="en">
 <head>
  <meta charset="utf-8"/>
  <link href="../staticFiles/style.css" rel="stylesheet"/>
  <title>
   Scrap Yard
  </title>
 </head>
 <body>
  <nav class="navbar">
   <li class="brand">
    <a href="./test.html">
     ScrapYard
    </a> <br>
   </li>
   <div class="blank">
   </div>
   <li>
    <a href="../templates/about.html">
     About
    </a> <br>
   </li>
   <li>
    <a href="https://github.com/Kevin-Wei-KW/ECommerceWebScraper">
     GitHub
    </a> <br>
   </li>
  </nav>
  <h1>
   Welcome to Scrap Yard
  </h1>
  <!-- <button type="button" class="activate"><a href="/scrape/">Activate</a> <br></button>-->
  <form action="/scrape/">
   <input class="activate" type="submit" value="Activate"/>
  </form>
  <div class="MainContent"><h3>HP ENVY x360 15-ey0003ca 2-in-1 Laptop, AMD Ryzen 5 5625U</h3> 
<span automation-id="productDescriptionLabel_0" class="description">
<a automation-id="productDescriptionLink_0" href="https://www.costco.ca/hp-envy-x360-15-ey0003ca-2-in-1-laptop%2c-amd-ryzen-5-5625u.product.4000026984.html">
				HP ENVY x360 15-ey0003ca 2-in-1 Laptop, AMD Ryzen 5 5625U
			</a> <br>
</span>
<h3>Intel NUC M15 BRC710ECUXBD1 Intel Evo Laptop, i7-1260P</h3> 
<span automation-id="productDescriptionLabel_1" class="description">
<a automation-id="productDescriptionLink_1" href="https://www.costco.ca/intel-nuc-m15-brc710ecuxbd1-intel-evo-laptop%2c-i7-1260p.product.4000101222.html">
				Intel NUC M15 BRC710ECUXBD1 Intel Evo Laptop, i7-1260P
			</a> <br>
</span>
<h3>Microsoft Surface Pro 8 Intel Evo Laptop Bundle, i5-1135G7</h3> 
<span automation-id="productDescriptionLabel_2" class="description">
<a automation-id="productDescriptionLink_2" href="https://www.costco.ca/microsoft-surface-pro-8-intel-evo-laptop-bundle%2c-i5-1135g7.product.100835947.html">
				Microsoft Surface Pro 8 Intel Evo Laptop Bundle, i5-1135G7
			</a> <br>
</span>
<h3>Dell Inspiron 15 i3520-7431BLK-PUS Laptop, i7-1255U</h3> 
<span automation-id="productDescriptionLabel_3" class="description">
<a automation-id="productDescriptionLink_3" href="https://www.costco.ca/dell-inspiron-15-i3520-7431blk-pus-laptop%2c-i7-1255u.product.4000092106.html">
				Dell Inspiron 15 i3520-7431BLK-PUS Laptop, i7-1255U
			</a> <br>
</span>
<h3>HP ENVY 17-cr0003ca Laptop, i7-1260P</h3> 
<span automation-id="productDescriptionLabel_4" class="description">
<a automation-id="productDescriptionLink_4" href="https://www.costco.ca/hp-envy-17-cr0003ca-laptop%2c-i7-1260p.product.4000043087.html">
				HP ENVY 17-cr0003ca Laptop, i7-1260P
			</a> <br>
</span>
</div>
 </body>
</html>